@model WeatherModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Погода в городе</h2>

<h3>@Model.City?.Name</h3>

<div class="row">
    <div class="col-md-6">
        <h3>@Model.WeaterInCity.FirstOrDefault()?.Temperature C</h3>
    </div>
    <div class="col-md-6">
    </div>
</div>

@* <div class="row"> *@
@*     <div class="col-md-4"> *@
@*         <button class="btn btn-primary" onclick="refresh(@Model.City.Id)">Обновить</button> *@
@*     </div> *@
@*     <div class="col-md-4"></div> *@
@*     <div class="col-md-4"></div> *@
@* </div> *@

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Температура</th>
                <th>Время</th>
            </tr>
            </thead>
            <tbody>
            @{
                var i = 0; 
                foreach (var weatherInCity in Model.WeaterInCity)
                {
                    i++;
                    <tr>
                        <th scope="row">@i</th>
                        <td>@weatherInCity.Temperature</td>
                        <td>@weatherInCity.Date</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
    
</div>




