@using Tsarkov.WeatherProject.Models.DbModels;
@model IList<CityModel>
@{

    ViewBag.Title = "Список городов";
    Layout = "_Layout";
}


<div class="row">
    <div class="col-md-6">
        <h2>Список городов</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Название города</th>
                <th>Широта</th>
                <th>Долгота</th>
                <th>Добавить в подборку</th>
            </tr>
            </thead>
            <tbody>
            @{
                foreach (var city in Model)
                {
                    <tr>
                        <th scope="row">@city.Id</th>
                        <td><a href="/Weather/Index?cityId=@city.Id">@city.Name</a></td>
                        <td>@city.Latitude</td>
                        <td>@city.Longitude</td>
                        <td>
                            @{
                                if (!city.IsMonitored)
                                {
                                    <button type="button" class="btn btn-success" onclick="addToMonitoring(@city.Id)">+</button>
                                }
                            }
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>
<div></div>

<div class="row">
    <div class="col-md-6">
        <h3>Добавить город</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Add" method="post">
            <div class="form-group">
                <label for="Name">Название города</label>
                <input required="true" type="text" class="form-control" id="Name" name="Name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="Latitude">Широта</label>
                <input type="text" class="form-control" id="Latitude" name="Latitude" placeholder="Latitude">
            </div>
            <div class="form-group">
                <label for="Longitude">Долгота</label>
                <input type="text" class="form-control" id="Longitude" name="Longitude" placeholder="Longitude">
            </div>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>
</div>

<script>


    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function addToMonitoring(cityId) {
        var formData = new FormData(document.forms.person);
        formData.append("CityId", cityId);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/City/AddToMonitoring");
        xhr.send(formData);
        
        xhr.onreadystatechange = function(target)
        {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    location.reload();
                } else {
                    alert('Город не добавлен в подборку.');
                }
            }
        }
    }

    var status = getParameterByName("status");
    if (status == 'AddError') {
        var reason = getParameterByName("reason");
        if (reason == 'Coordinates') {
            alert('Город не добавлен. Невозможно определить координаты');
        } else if (reason == 'Name') {
            alert('Город не добавлен. Вы не указали название');
        }

    } else if (status == 'AddSuccess') {
        alert('Город успешно добавлен');
    } else if (status == 'AddMonitoringSuccess') {
        alert('Город успешно добавлен в подборку');
    }

</script>